html,body {
	height: 100%;
	width: 100%; padding : 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

html {
	background: url("../Images/MainPage.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#mainpage {
	height: 97%;
	width: 80%;
	position: relative;
	vertical-align: middle;
	padding: 1% 10% 1% 10%;
	border: medium;
}

#heading {
	background-color: white;
	position: relative;
	margin: 0 0 0 0;
	padding: 0 0 0 0; overflow : hidden;
	min-height: 100px;
	width: 100%;
	opacity: 0.8;
	overflow: hidden;
}

#heading h2 {
	display: inline; color : red;
	margin: 0% 0% 0% 0%;
	padding: 0 10% 0 10%;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-size: 4em;
	width: 80%;
	height: inherit;
	color: red;
}

#menu {
	height: 50px;
	width: 100%;
	margin: 1% 0%;
	background-color: white;
	opacity: 0.8;
}

#menu-list {
	margin: 0;
	padding: 0;
	width: 100%;
	height: inherit;
	float: left;
	border: none;
}

#menu-list li {
	float:left;
	width: 19.7%;
	height: 100%;
	overflow: hidden;
	text-align: center;
	margin: 0% 1.5px;
	background-image: url("../Images/download.png");
	background-repeat: repeat-x;
	-webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    cursor: pointer;
}

#menu-list li a {
	text-align: center;
	text-decoration: none;
	color: black;
	padding: 0;
	margin: 0;
	height: inherit;
	width: 100%;
	line-height: 50px;
}

#contentpage{
	width: 100%;
	height: 80%;
	background-color: white;
	opacity: 0.8;
}

.menu-item{
	background-position: 0px 0px;
	font-family:"Times New Roman",Georgia,Serif;
	font-size: 130%;
	font-style: normal;
	font-weight: bold;
}

.current-menu-item, .active-menu-item{
	background-position: 0px -41px;
}