html, body{
	height:100%;
	width: 100%;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	border: thick;
}

#mainpage{
	background-image: url("../Images/MainPage.jpg");
	background-repeat:no-repeat;
	opacity: 0.5;
	height:100%;
	width: 100%;
}